.articles {
    background-color: $main_color;
    padding-bottom: 78px;
    margin-top: -1px;

    &__title {
        color: #fff;
        
    }

    &__wrapper {
        margin-top: 67px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
    }

    &__img {
    }

    &__descr {
        margin-top: 38px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__date {
        margin-top: 23px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
    }
}

