.articles {
    background-color: $main_color;
    padding-bottom: 78px;
    margin-top: -1px;
    overflow: hidden;

    &__title {
        color: #fff;
        opacity: 0;
        transform: translateX(-120%);
        transition: all 0.8s;
        &._active {
            opacity: 1;
            transform: translateX(0)
        }
    }

    &__wrapper {
        margin-top: 67px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        &:nth-child(1) {
            opacity: 0;
            transform: translateX(-120%);
            transition: all 0.8s;
            &._active {
                opacity: 1;
                transform: translateX(0)
            }
        }
        &:nth-child(2) {
            opacity: 0;
            transform: scale(0);
            transition: all 0.8s;
            &._active {
                opacity: 1;
                transform: scale(1)
            }
        }
        &:nth-child(3) {
            opacity: 0;
            transform: translateX(120%);
            transition: all 0.8s;
            &._active {
                opacity: 1;
                transform: translateX(0)
            }
        }
        
    }

    &__img {
    }

    &__descr {
        margin-top: 38px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__date {
        margin-top: 23px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
    }
}

